<settings>
    <pluginGroups>
        <pluginGroup>org.jenkins-ci.tools</pluginGroup>
    </pluginGroups>
    <profiles>

        <profile>
            <id>rest</id>
            <activation>
                <activeByDefault>true</activeByDefault>
            </activation>
            <repositories>

                <repository>
                    <id>Central</id>
                    <url>http://nexus.sb.karmalab.net/nexus/content/repositories/central/</url>
                </repository>

                <repository>
                    <id>thirdparty</id>
                    <url>http://nexus.sb.karmalab.net/nexus/content/repositories/thirdparty/</url>
                </repository>

            </repositories>
        </profile>

        <profile>
            <id>expdia-central</id>
            <repositories>
                <repository>
                    <id>central</id>
                    <name>Expedia Central Nexus</name>
                    <url>http://nexus.sb.karmalab.net/nexus/content/groups/public/</url>
                    <snapshots>
                        <enabled>true</enabled>
                    </snapshots>
                </repository>
                <repository>
                    <id>java-net</id>
                    <url>http://download.java.net/maven/2</url>
                </repository>
            </repositories>
            <pluginRepositories>
                <pluginRepository>
                    <id>central</id>
                    <name>Expedia Central Nexus</name>
                    <url>http://nexus.sb.karmalab.net/nexus/content/groups/public/</url>
                    <snapshots>
                        <enabled>false</enabled>
                    </snapshots>
                </pluginRepository>
            </pluginRepositories>
        </profile>

    </profiles>

    <servers>

        <server>
            <id>build-test-release</id>
            <username>deployment</username>
            <password>NexDep1</password>
        </server>

    </servers>

</settings>
